html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 23px;
}

.logo {
  height: 300px;
  width: 250px;
  animation: infinite linear .5s alternate;
}

button {
  position: relative;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px;
  font-weight: bold;
  background-color: green;
  border: solid 5px green;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 250px;
}

button:hover {
  color: black;
  background-color: greenyellow;
}

button:active {
  box-shadow: 0 0 0.6em 0.25em green;
}

.a-pulse{
  -webkit-animation:pulse infinite linear .9s alternate;
}

@-webkit-keyframes pulse {
  0%{transform:scale(1)}100%{transform:scale(1.05)}
}

.insta {
  height: 20px;
  width: 20px;
}

.insta_link {
  color: white;
}

#insta {
  text-align: center;
}