html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white
}

h1, .div1 {
  text-align: center;
}

.img1 {
  border-radius: 15px;
  border: solid 3px;
  width: 100px;
  height: 100px;
}

.img3 {
  border-radius: 15px;
  border: solid 3px;
  width: 100px;
}

strong {
  font-size: 20px;
}

li {
  color: colo
}

.img2 {
  height: 200px;
  width: 150px;
  animation:pulse infinite linear .9s alternate;
}

@-webkit-keyframes pulse {
  0%{transform:scale(1)}100%{transform:scale(1.05)}
}

.icon {
  height: 20px;
  width: 25px;
}

button {
  padding: 1em;
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: green;
  border: solid 0.25em green;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.3em;
  width: 100px;
}

button:hover {
  color: black;
  background-color: greenyellow;
}

button:active {
  box-shadow: 0 0 0.6em 0.25em green;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
}

.back {
  text-align: left;
}

.valor {
  font-size: 15px;
  color: #F5E9DF;
}

.desc {
  font-size: 25px;
}

.insta {
  height: 20px;
  width: 20px;
}

.insta_link {
  color: white;
}

#insta {
  text-align: center;
}