body {
  background-image: url(../midia/fundo.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

h1, .div1 {
text-align: center;
}

.img1 {
  border-radius: 10px;
  border: solid 5px;
  height: 100px;
  width: 100px;
}

.img2 {
height: 100px;
width: 100px;
}

.icon {
height: 20px;
width: 25px;
}

button {
  padding: 1em;
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(0, 0, 0);
  background-color: green;
  border: solid 0.25em green;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  transition: all 0.3em;
  width: 100px;
}

button:hover {
  color: black;
  background-color: greenyellow;
}

button:active {
  box-shadow: 0 0 0.6em 0.25em green;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: row;
}

.back {
  text-align: left;
}

.valor {
  border: solid 2px black;
  font-size: 20px;
  color: #F5E9DF;
}